

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #1b1919;
    color: #333;
}

/* Container */
.container {
    width: 90%;
    margin: 0 auto;
}

/* Header */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo h1 a {
    text-decoration: none;
    color: #fff;
}
header nav ul {
    list-style: none;
    display: flex;
}
header nav ul li {
    margin-left: 20px;
}
header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* Hero Section */
.hero {
    background: url('banner.jpg') no-repeat center center/cover;
    padding: 100px 0;
    text-align: center;
    color: blueviolet;
}
.hero h2 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero p {
    font-size: 1.5rem;
    margin-bottom: 40px;
}
.cta-btn {
    background-color: #ff6600;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Shop Section */
.shop {
    padding: 50px 0;
    background-color: #fff;
}
.shop h2 {
    text-align: center;
    margin-bottom: 30px;
}
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax (250px, 1fr));
    gap: 30px;
    justify-items: center;
}
.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.product-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.product-card h3 {
    margin: 10px 0;
    font-size: 1.2rem;
}
.product-card p {
    margin-bottom: 15px;
    color: #ff6600;
    font-weight: bold;
}
.product-card .btn {
    background-color: #ff6600;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 5px;
}

/* Contact Section */
.contact {
    background-color: #f4f4f4;
    padding: 50px 0;
}
.contact h2 {
    text-align: center;
    margin-bottom: 30px;
}
.contact form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.contact form input, .contact form textarea {
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}
.contact form button {
    background-color: #ff6600;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
